<link rel="stylesheet" type="text/css" href="game.css">

{{!-- <div>Successfully Authenticated and connected to web server!!</div> --}}

<div class="container">

    <div class="container users1-2">
        <div class="row">
            <div class="col-md-2 user-box">
                <h2>User 1</h2>
            </div>
            <div class="col-md-2 ml-auto user-box">
                <h2>User 2</h2>
            </div>
        </div>
    </div>

    <div class="game-table">
        <div class="table">
            <div class="board">
                <div class="card-small">
                    <p class="card-text black">A</p>
                    <p class="card-img black">&clubs;</p>
                </div>
                <div class="card-small">
                    <p class="card-text black">10</p>
                    <p class="card-img black">&spades;</p>
                </div>
                <div class="card-small">
                    <p class="card-text red">K</p>
                    <p class="card-img red">&hearts;</p>
                </div>
                <div class="card-small">
                    <p class="card-text red">Q</p>
                    <p class="card-img red">&diams;</p>
                </div>
                <div class="card-small">
                    <p class="card-text red">2</p>
                    <p class="card-img red">&diams;</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
       <div class="row">
            <div class="col-md-2 user-box">
                <h2>User 3</h2>
            </div>
            <div class="col-md-2 ml-auto user-box">
                <h2>User 4</h2>
            </div>
        </div>
    </div>

    <div class="container action-buttons">
        <button type="button" class="btn btn-success" onclick="raise()">Raise</button>
        <button type="button" class="btn btn-warning" onclick="call()">Call</button>
        <button type="button" class="btn btn-danger" onclick="fold()">Fold</button>
        <button type="button" class="btn btn-secondary" onclick="check()">Check</button>
    </div>

     <h2>Activity History</h2>
    <div class="panel panel-default">
        <div id="game-update-box"></div>
    </div>

</div>




<script src="/socket.io/socket.io.js"></script>

<script>
    var socket = io.connect({
        reconnect: false

    });

    var activePlayers = [];

    socket.once('connect', function (data) {
        socket.emit('register');
    });

    socket.once('joined', function (data) {
        if (!activePlayers.includes(data)) {
            activePlayers.push(data);
        }
        updateHistoryBox(activePlayers);
    });

    socket.once('gameupdate', function (data) {
        console.log(data);
    })

    socket.once('playercards', function (data) {
        alert(data);
    })


    function updateHistoryBox(activePlayers) {
        activePlayers = activePlayers.toString();
        players = activePlayers.replace(/,\s*$/, "");
        players = players.split(',');

        players.forEach(function (player) {
            jQuery('#game-update-box').append('<div class="alert alert-success" role="alert">' + player + ' joined the game</div>');
        });
    }

    function raise() {
        jQuery('#game-update-box').append('<div class="alert alert-success" role="alert">' + 'Raised Bet</div>');
    }

    function call() {
        jQuery('#game-update-box').append('<div class="alert alert-warning" role="alert">' + 'Call Bet</div>');
    }

    function fold() {
        jQuery('#game-update-box').append('<div class="alert alert-danger" role="alert">' + 'Fold</div>');
    }

    function check() {
        jQuery('#game-update-box').append('<div class="alert alert-secondary" role="alert">' + 'Check</div>');
    }
</script>
